[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/MultiSigLib"]
	path = lib/MultiSigLib
	url = https://github.com/jeremy-then/MultiSigLib
